
/*table param*/
.table-param-container {
    display: flex;
    flex: 7;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    border: 1px solid gray;
    padding: 0px 0px 10px 0px;
    margin: 0px 5px;
    overflow: auto;
  }
  .table-param {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2px 0px;
  }
  .table-param-detail {
    display: flex;
    flex-direction: column;
    flex: 4;
  }
  .table-param-detail-component {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .table-param-component {
    display: flex;
    flex: 1;
    margin: 1px 2px;
    align-items: center;
    justify-content: center;
  }
  .table-param-component.title {
    text-transform: uppercase;
    background-color: lightgray;
  }
  .table-param.le .table-param-component {
    background-color: lightgray;
  }