/*delete btn*/
.email-template-btn-component {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: gray;
}
.email-template-btn-component:hover {
  color: red;
}

/*function btn*/
.email-template-add-btn {
  background-color: #0090ed;
  cursor: pointer;
  color: white;
  font-weight: 500;
  margin: 10px 10px;
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid gray;
}
