.infinite-list-content {
  padding: 0;
  display: flex;
  flex-direction: row;
}

.infinite-list-content.vetically {
  flex-wrap: wrap;
}

.infinite-list-content.horizontaly {
  flex-wrap: nowrap;
  overflow: scroll;
}

.infinite-list-content.vetically::-webkit-scrollbar {
  display: none;
}
