html {
  color: #11142d;
  background-color: #fbfbfb;
}

@font-face {
  font-family: Futura;
  src: url('./SFUFuturaRegular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@media screen and (max-width: 900px) {
  .hidden-small {
    display: none !important;
  }
}

@media screen and (min-width: 900px) {
}

body {
  margin: 0;
  font-family: 'Futura' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #11142d;
  text-align: left;
  min-height: 100vh;
  overflow: auto;
}

code {
  font-family: 'Futura' !important;
}

button {
  user-select: none;
  font-family: 'Futura' !important;
}

input {
  font-family: 'Futura' !important;
}

/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: rgb(233, 231, 231); /* or add it to the track */
}

/* Add a thumb */
::-webkit-scrollbar-thumb {
  background: rgb(196, 195, 195);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(169, 168, 168);
}

* {
  outline: none;
  box-sizing: border-box;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock-desc {
  font-weight: 600;
  font-size: 13px;
  display: flex;
  align-items: center;
  opacity: 0.8;
  margin-left: 5px;
  display: none;
}
.clock-desc i {
  color: #ffa900;
  font-size: 22px;
  margin-right: 5px;
}

.clock-time {
  display: flex;
  align-items: center;
}

.clock-time-frag {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
}

.clock-time-frag-number {
  font-size: 22px;
  font-weight: 700;
  color: #ffa900;
}

.clock-time-separator {
  font-weight: 700;
  color: #ffffff;
  opacity: 0.7;
  font-size: 20px;
  padding: 0 30px;
}

.clock-time-frag-desc {
  color: #ffffff;
  opacity: 0.7;
  font-size: 13px;
}

@media (max-width: 768px) {
  .clock-time-frag {
    width: 20px;
  }
  .clock-time-frag-number {
    font-size: 16px;
  }
  .clock-time-separator {
    padding: 0 15px;
    font-size: 14px;
  }
  .clock-time-frag-desc {
    font-size: 11px;
  }
}
