.i-tooltip {
  position: absolute;
}

.guide {
  top: 8px;
  right: 10px;
}

.qr-scan {
  top: 8px;
  right: 40px;
}

.info-guide {
  color: #009250;
}

.qr-scan-icon {
  color: #333dcb;
}

.tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: 20px;
  right: inherit;
  z-index: 1;
  /* Position the tooltip */
  position: absolute;
}

.i-tooltip:hover .tooltiptext {
  visibility: visible;
}

.zalo-text {
  padding-right: 65px;
}

.facebook-text {
  padding-right: 35px;
}
